@import "../../Util/Variable.scss";

.container-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1 {
        color: teal;
    }

    p {
        color: $red;
        cursor: pointer;
        font-weight: 600;
    }
}